.city {
  font-size: 40px;
}

.cel-far {
  text-decoration: none;
}

.card1 {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(228, 207, 207);
  border: 1px solid #dadde1;
  border-radius: 4px;
}
.card-bottom {
  background-color: rgb(228, 207, 207);
}
.card-top {
  background-color: rgb(228, 207, 207);
}
.card-grand {
  background-color: rgb(228, 207, 207);
}

.card-center {
  background-color: rgb(228, 207, 207);
}
.card-form {
  background-color: rgb(228, 207, 207);
}
.search-button {
  width: 10%;
  min-width: min-content;
  transition: all 200ms ease;
  box-shadow: rgba(35, 36, 78, 0.2) 2px 4px 4px 0;
}

.current-button {
  width: 10%;
  min-width: min-content;
  transition: all 200ms ease;
  box-shadow: rgba(35, 36, 78, 0.2) 2px 4px 4px 0;
}

.text-start {
  font-weight: bold;
}

.result_clouds {
  text-transform: capitalize;
}
.temp-max {
  font-size: 13px;
  font-weight: bold;
}
.temp-min {
  font-size: 13px;
  font-weight: bold;
  opacity: 0.6;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
